<!doctype html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>SteamAPI</title>
	</head>

	<body>
		<img src={$avatarfull} title="Avatar" alt="(Avatar img)" />
		<p>Identifiant : {$steamid}</p>
		<p>Nickname    : {$personaname}</p>
		<p>Vrai nom    : {$realname}</p>
		<p>Creation    : {$yearCreate} ans et {$dayCreate} jours</p>
		<p>Lien compte : {$profileurl}</p>
		<p>Derniere co : {$lastCo}</p>
		<p>Pays        : {$usercountry}</p>
		<p>Etat        : {$userstate}</p>
		<p>Ville       : {$usercity}</p>
	</body>
</html>