<!doctype html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>SteamAPI</title>
	</head>

	<body>
		<h2>Ceci est la page principale:</h2>
		<h3>Les differentes requetes:</h3>
		<h4>Informations générales de la personnes connctées :</h4>
		<form method="post" action="http://localhost/SteamAPI/SteamAPI/php/userinfo.php" >
			<ul>
				<li><button type="submit" name="template" value="1">Requete</button></li>
				<li><button type="submit" name="template" value="2">JSON</button></li>
				<li><button type="submit" name="template" value="3">Informations recherchées</button></li>
			</ul>
		</form>
		
		<h4>Informations générales application :</h4>
		<form method="post" action="http://localhost/SteamAPI/SteamAPI/php/appinfo.php" >
			<ul>
				<li><button type="submit" name="template" value="1">Requete</button></li>
				<li><button type="submit" name="template" value="2">JSON</button></li>
				<li><button type="submit" name="template" value="3">Informations recherchées</button></li>
			</ul>
		</form>
	</body>
</html>